<div class="container mt-4" >
  <div class="card">
      <h1>Login</h1>
      <form #userLoginForm="ngForm">

  <div class="form-group">
    <label for="userEmail">Email Id</label>
    <input type="text" [(ngModel)]="userEmail" name="userEmail" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" class="form-control" id="userEmail" placeholder="Enter Email Id">
    <div *ngIf="userLoginForm.controls['userEmail'].invalid && (userLoginForm.controls['userEmail'].dirty || userLoginForm.controls['userEmail'].touched)" class="text-danger">
      <div *ngIf="userLoginForm.controls['userEmail'].hasError('required')">Email is required</div>
      <div *ngIf="userLoginForm.controls['userEmail'].hasError('pattern')">Enter a valid email address</div>
    </div>
  </div>

  <div class="form-group">
    <label for="userPassword">Password</label>
    <div class="input-group">
      <input type="{{ hidePassword ? 'password' : 'text' }}" [(ngModel)]="userPassword" name="userPassword" required minlength="6" class="form-control" id="userPassword" placeholder="Enter Password">
      <div class="input-group-append" (click)="togglePasswordVisibility()">
        <span class="input-group-text">
          <i class="fa" [ngClass]="hidePassword ? 'fa-eye' : 'fa-eye-slash'"></i>
        </span>
      </div>
    
    </div>
    <div *ngIf="userLoginForm.controls['userPassword'].invalid && (userLoginForm.controls['userPassword'].dirty || userLoginForm.controls['userPassword'].touched)" class="text-danger">
      <div *ngIf="userLoginForm.controls['userPassword'].hasError('required')">Password is required</div>
      <div *ngIf="userLoginForm.controls['userPassword'].hasError('minlength')">Password should be at least 6 characters</div>
    </div>
  </div>

   <!-- <button type="submit" class="btn btn-primary" (click) ="Login()">Login</button> -->
   <div class="text-center">
    <button type="submit" class="btn btn-primary" (click)="Login()">Login</button>
  </div>
  <div class="text-center mt-3">
    <p>Don't have an account? <a routerLink="/register">Register</a></p>
  </div>


</form>
</div>

</div>