<nav class="navbar navbar-expand-lg navbar-light bg-light custom-navbar">
    <div class="container-fluid justify-content-between">
        <div>
            <a class="navbar-brand ml-auto" href="#">Update Car</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <button class="btn btn-primary mr-2" (click)="navigateToAdminHome()">Dashboard</button>
                </li>
            </ul>
        </div>
    </div>
  </nav>
    
  <br><br>
  <div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
<br> 

<form (ngSubmit)="onSubmit()" #userForm="ngForm" novalidate>

    <div class="form-group">
        <label>First Name:</label>
        <input type="text" class="form-control" id="userFirstName"
            [(ngModel)]="user.userFirstName" name="userFirstName" required #name="ngModel">
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
            First Name is required
        </div>
    </div> <br>

    <div class="form-group">
        <label>Last Name : </label>
        <input type="text" class="form-control" id="userLastName" 
            [(ngModel)] = "user.userLastName" name="userLastName" required #name="ngModel">
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
            Last Name is required
        </div>   
    </div> <br>

    <div class="form-group">
        <label>Aadhar : </label>
        <input type="text" class="form-control" id="userAadhar" 
            [(ngModel)] = "user.userAadhar" name="userAadhar" required pattern="[0-9]{12}">
        <div *ngIf="userForm.controls['userAadhar'].invalid && (userForm.controls['userAadhar'].dirty || userForm.controls['userAadhar'].touched)" class="alert alert-danger">
             Please enter a valid Aadhar number (12 digits).
        </div>
    </div> <br>  
        
    <div class="form-group">
        <label> Age : </label>
        <input type="number" class="form-control" id="userAge" 
             [(ngModel)] = "user.userAge" name="userAge" required min="18">
        <div *ngIf="userForm.controls['userAge'].invalid && (userForm.controls['userAge'].dirty || userForm.controls['userAge'].touched)" class="alert alert-danger">
            Please enter a valid age (must be 18 or older).
        </div>
    </div> <br>
            
    <div class="form-group">
        <label>City : </label>
        <input type="text" class="form-control" id="userCity" 
            [(ngModel)] = "user.userCity" name="userCity" required>
        <div *ngIf="userForm.controls['userCity'].invalid && (userForm.controls['userCity'].dirty || userForm.controls['userCity'].touched)" class="alert alert-danger">
            City is required.
        </div>
    </div> <br>
                
    <div class="form-group">
        <label>Mobile No. : </label>
        <input type="tel" class="form-control" id="userMobile" 
            [(ngModel)] = "user.userMobile" name="userMobile" required pattern="[0-9]{10}">
        <div *ngIf="userForm.controls['userMobile'].invalid && (userForm.controls['userMobile'].dirty || userForm.controls['userMobile'].touched)" class="alert alert-danger">
            Please enter a valid 10-digit mobile number.
        </div>
    </div> <br>

    <div class="form-group">
        <label>Email address  : </label>
        <input type="email" class="form-control" id="userEmail" 
            [(ngModel)] = "user.userEmail" name="userEmail" required>
        <div *ngIf="userForm.controls['userEmail'].invalid && (userForm.controls['userEmail'].dirty || userForm.controls['userEmail'].touched)" class="alert alert-danger">
            Please enter a valid email address.
        </div>
    </div> <br>

    <div class="form-group">
        <label>User Name : </label>
        <input type="text" class="form-control" id="userUserName" 
            [(ngModel)] = "user.userUserName" name="userUserName" required pattern="^[a-zA-Z0-9_]*$">
        <div *ngIf="userForm.controls['userUserName'].invalid && (userForm.controls['userUserName'].dirty || userForm.controls['userUserName'].touched)" class="alert alert-danger">
        Please enter a valid username (only letters, numbers, or underscores)
        </div>
    </div> <br>

    <div class="form-group">
        <label>Password:</label>
        <input type="password" class="form-control" id="userPassword"
           [(ngModel)]="user.userPassword" name="userPassword" required minlength="6">
        <div *ngIf="userForm.controls['userPassword'].invalid && (userForm.controls['userPassword'].dirty || userForm.controls['userPassword'].touched)" class="alert alert-danger">
            Please enter a valid password (at least 6 characters).
        </div>
    </div> <br>

        <button class="btn btn-success" type="submit">Submit</button>
</form>
</div>
