
<nav class="navbar navbar-expand-lg navbar-light bg-light custom-navbar">
  <div class="container-fluid justify-content-between">
      <div>
          <a class="navbar-brand ml-auto" href="#">Car Insurance</a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <button class="btn btn-primary mr-2" (click)="applyForClaim()">Apply for Claim</button>
              </li>
              <li class="nav-item">
                  <button class="btn btn-danger" (click)="logout()">Logout</button>
              </li>
          </ul>
      </div>
  </div>
</nav>

<div class="container-fluid mt-4">
  <div *ngIf="insurancePolicies && insurancePolicies.length" class="row">
    <div class="col">
      <h2 class="text-center mb-4">Insurance Policies</h2>
      <div class="table-responsive">
        <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Policy Id</th>
          <th>Policy Number</th>
          <th>Policy Type</th>
          <th>Duration in Months</th>
          <th>Premium Amount</th>
          <th>Coverage Amount</th>
          <th>Deductible Amount</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let policy of insurancePolicies">
          <td>{{ policy.policyId }}</td>
          <td>{{ policy.policy_no }}</td>
          <td>{{ policy.policy_type }}</td>
          <td>{{ policy.duration_in_months }}</td>
          <td>{{ policy.premium_amount }}</td>
          <td>{{ policy.coverage_amount }}</td>
          <td>{{ policy.deductible_amount }}</td>
          <td>
            <button (click)="applyForPolicy()" class="btn btn-primary">Apply</button>
          </td>
        </tr>
      </tbody>
    </table>
</div>



<div *ngIf="!insurancePolicies || insurancePolicies.length === 0" class="row">
  <div class="col">
    <p class="text-center">No insurance policies available.</p>
  </div>
  
